@media (max-width: 1024px) {
  header {
    border-radius: 0px 0px 20px 20px;
  }
  .header-logo {
    margin-left: 50%;
  }
  header nav {
    display: none;
  }
  .main-img {
    margin-left: 10px;
    margin-right: 10px;
  }

  .item {
    max-width: 162px;
    width: 100%;
    margin-left: 20px;
  }

  .last-img {
    display: none;
  }
  .second-p,
  .third-p {
    display: none;
  }

  footer h4 {
    margin-left: 20px;
  }

  .upper-footer {
    flex-direction: column-reverse;
  }

  .right-div {
    display: block;
  }

  .inputs {
    margin-left: 20px;
    margin-top: 40px;
  }

  .left-div {
    margin-left: 20px;
  }

  footer iframe {
    max-width: 350px;
    width: 100%;
  }

  .lower-footer {
    flex-direction: column-reverse;
  }
  .left-lower span {
    opacity: 60%;
  }
  .nav-img {
    display: flex;
  }
  .mail img {
    margin-left: 0px;
  }
}
