@media (max-width: 1024px) {
  header {
    border-radius: 0px 0px 20px 20px;
  }
  .header-logo {
    margin-left: 50%;
  }
  header nav {
    display: none;
  }
  .main-img {
    margin-left: 10px;
    margin-right: 10px;
  }
  .last-img {
    display: none;
  }
  .second-p,
  .third-p {
    display: none;
  }
  .upper-footer {
    flex-direction: column-reverse;
  }
  .lower-footer {
    flex-direction: column-reverse;
  }
  .left-lower span {
    opacity: 60%;
  }
  .nav-img {
    display: flex;
  }
}
