* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}

header {
  background-color: #0020f4;
  max-width: 1920px;
  width: 100%;
  height: 387px;
}

.header {
  justify-content: space-between;
}

.header-logo {
  margin-top: 40px;
  max-width: 115px;
  width: 100%;
}

nav ul li a {
  color: #ffffff;
  font-size: 16px;
  font-family: "BPG Nateli", sans-serif;
}

nav ul li {
  margin-left: 45px;
  margin-top: 60px;
}

.kontakti {
  background-color: #ffffff;
  width: 160px;
  height: 55px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 18px;
  padding-bottom: 18px;
  border-radius: 28px;
  margin-top: 42px;
}

.kontakti a {
  font-family: "BPG Glaho Arial", sans-serif;
  color: #171717;
}

.section {
  flex-direction: column;
  align-items: center;
}

.main-img {
  max-width: 1195px;
  width: 100%;
  height: 600px;
  margin-top: -160px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

section h3 {
  max-width: 714px;
  width: 100%;
  margin-top: 30px;
  font-size: 28px;
  color: #171717;
  margin-bottom: 60px;
  font-family: "BPG Glaho Arial", sans-serif;
}

.item {
  max-width: 219px;
  width: 100%;
  height: 219px;
  margin-left: 25px;
}

.mid-imgs {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

section p {
  max-width: 951px;
  width: 100%;
  margin-bottom: 18px;
  font-family: "BPG Nateli", sans-serif;
}

.damatebiti {
  background-color: #0a22f4;
  width: 310px;
  height: 55px;
  color: #ffffff;
  padding-left: 65px;
  padding-bottom: 18px;
  padding-top: 18px;
  border-radius: 28px;
  margin-bottom: 180px;
  font-family: "BPG Glaho Arial", sans-serif;
}

footer {
  background-color: #0a22f4;
}

.upper-footer {
  border-bottom: 1px solid white;
}

.left-div {
  margin-top: 30px;
  margin-left: 240px;
}

footer h4 {
  color: #ffffff;
  font-size: 32px;
  width: 162px;
  height: 38px;
  display: inline-block;
  margin-left: 240px;
  margin-top: 275px;
  font-family: "BPG Glaho Arial", sans-serif;
}

.loremi {
  color: #ffffff;
  font-size: 16px;
  max-width: 463px;
  width: 100%;
  height: 99px;
  width: 463px;
  margin-bottom: 60px;
  font-family: "BPG Nateli", sans-serif;
}

footer iframe {
  max-width: 463px;
  width: 100%;
  height: 197px;
  margin-bottom: 70px;
}

.call {
  align-items: center;
}

.call-logo {
  width: 70px;
  height: 70px;
  background-color: #ffffff;
  padding: 22px;
  border-radius: 50px;
}

.call span {
  color: #ffffff;
  font-size: 22px;
  margin-left: 20px;
  font-family: "BPG Glaho Arial", sans-serif;
}

.mail {
  align-items: center;
}

.mail-logo {
  width: 70px;
  height: 70px;
  background-color: #ffffff;
  padding: 22px;
  border-radius: 50px;
  margin-left: 100px;
}

.mail span {
  color: #ffffff;
  font-size: 22px;
  margin-left: 20px;
  font-family: "BPG Glaho Arial", sans-serif;
}

.right-div {
  display: flex;
  margin-bottom: 70px;
  justify-content: flex-end;
}

.right-div input {
  width: 463px;
  height: 60px;
  border: transparent;
  background-color: #0a22f4;
  font-size: 16px;
  font-family: "BPG Glaho Arial", sans-serif;
}

textarea {
  resize: none;
  width: 463px;
  height: 140px;
  background-color: #0a22f4;
  border: transparent;
  font-size: 16px;
  font-family: "BPG Glaho Arial", sans-serif;
}

.gagzavna {
  background-color: #ffffff;
  width: 150px;
  height: 55px;
  padding-left: 42px;
  padding-top: 15px;
  border-radius: 28px;
  font-family: "BPG Glaho Arial", sans-serif;
}

.inputs {
  margin-bottom: 40px;
  margin-left: 300px;
  color: #ffffff;
}

.lower-footer {
  justify-content: space-between;
  margin-top: 40px;
}

.left-lower {
  margin-left: 240px;
}

.right-lower {
  margin-right: 240px;
}

.left-lower span {
  width: 209px;
  height: 19px;
  color: #ffffff;
  font-size: 16px;
  font-family: "BPG Glaho Arial", sans-serif;
}

.damzadebulia {
  color: #ffffff;
  width: 106px;
  height: 16px;
  font-size: 13px;
  font-family: "BPG Glaho Arial", sans-serif;
}

.it {
  color: #ffffff;
  width: 26px;
  height: 16px;
  font-size: 13px;
  font-family: "BPG Glaho Arial", sans-serif;
}

.guli {
  width: 26px;
  height: 26px;
}

.smart-logo {
  width: 121px;
  height: 35px;
}

.nav-img {
  width: 60px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  display: none;
}
